html {
	background-image:url(blackboard-backgrounds-wallpapers.jpeg);
	}

body {
	color: white;
	}
	
.intro header h1, .intro header h2 {
	display: none;
}

.intro header {
	height: 500px;
	background-image:url(Zen_Header.png);
	background-repeat:no-repeat;
	width:100%;
    position:fixed;
    top:-40px;
	}
	
